/**
 * additional layout style for the simple template
 *
 * @author:     Michael Klier <chi@chimeric.de>
 * @homepage:   http://www.chimeric.de
 */

div.dokuwiki .header {
  padding: 0;
  background: __medium__;
}

div.dokuwiki .pagename {
  font-weight:bold;
  color: __darker__;
  font-size: 130%;
}

div.dokuwiki .logo {
  background: __medium__;
  float: none;
  text-align: center;
  height: 50px;
  padding-top: 1.5em !important;
  padding-bottom: 0.4em !important;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

div.dokuwiki .pagename a {
  color: __dark__ !important;
}

div.dokuwiki .logo a {
  color: __lightgray__ !important;
  font-weight: normal;
  font-size: 160%;
}

div.dokuwiki .bar {
  border:none;
  background: __medium__;
  margin:0;
  padding:0;
  margin-top:1em;
}

div.dokuwiki #bar__bottom {
  border-top: 1px dashed __light__;
  background: none;
}
